* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  background-image: url(./image/mine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  min-height: 471px;
}

.wrap {
  margin: 0 30px auto;
  max-width: 350px;
  height: 300px;
  margin-top: 200px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  animation: rotate 20s infinite linear;
}

.cube>div {
  position: absolute;
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: green;
  border: 1px solid white;
  background-image: url(./image/tnt.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
}

.top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
}

.bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: top left;
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.wrap:hover .front {
  transform: translateZ(200px);
}

.wrap:hover .back {
  transform: translateZ(-200px) rotateY(180deg);
}

.wrap:hover .top {
  transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.wrap:hover .bottom {
  transform: rotateX(270deg) translateZ(100px) translateY(100px);
}

.wrap:hover .left {
  transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.wrap:hover .right {
  transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.cube>div {
  transition: transform 0.2s ease-in;
}